VITE_SUPABASE_URL=https://mjiyjdwhgfowqoxsrmrw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qaXlqZHdoZ2Zvd3FveHNybXJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMTU1NDYsImV4cCI6MjA5MzU5MTU0Nn0.GHSfRZTurymp0GfFQk70LKc8wlv_9xtP5V5Je57ZuQo
VITE_SUPABASE_THANKYOU_BUCKET=thank-you-uploads
VITE_ADMIN_EMAIL=admin@example.com
VITE_AUTH_REDIRECT_URL=http://localhost:5173
